In [1]:
import pandas as pd

In [80]:
# Ejercicio 1
# Crea una Series llamada poblacion_estimada con estos datos:

poblacion_estimada = pd.Series({
    "Ohio": 35000,
    "Texas": 71000,
    "Oregon": 16000,
    "Utah": 5000
})
print(type(poblacion_estimada))
'''
Muestra la serie entera.
Muestra los índices de la serie.
Muestra los valores de la serie.
Muestra el valor asociado a "Texas".
'''
print(poblacion_estimada)
print(poblacion_estimada.index)
print(poblacion_estimada.values)
print(poblacion_estimada["Texas"])

<class 'pandas.core.series.Series'>
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')
[35000 71000 16000  5000]
71000

In [ ]:
'''Ejercicio 2

Usando la serie poblacion_estimada del ejercicio anterior:

Filtra y muestra solo los estados con población mayor que 20000.

Calcula una nueva serie donde cada valor sea un 10% más alto (multiplica por 1.1).

Calcula una nueva serie con cada valor elevado al cuadrado.

'''

filtro_grandes = poblacion_estimada > 20000
print(filtro_grandes.index)

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [4]:
fertility = pd.read_csv("programas/data/children_per_woman_total_fertility.csv", sep = ",")
mortality = pd.read_csv("programas/data/child_mortality_0_5_year_olds_dying_per_1000_born.csv", sep = ",")

print(fertility)
print(mortality)

     geo          name  1800  1801  1802  1803  1804  1805  1806  1807  ...  \
0    afg   Afghanistan  7.00  7.00  7.00  7.00  7.00  7.00  7.00  7.00  ...
1    ago        Angola  6.93  6.93  6.93  6.93  6.93  6.93  6.93  6.94  ...
2    alb       Albania  4.60  4.60  4.60  4.60  4.60  4.60  4.60  4.60  ...
3    and       Andorra  2.11  2.11  2.11  2.11  2.11  2.11  2.11  2.11  ...
4    are           UAE  6.94  6.94  6.94  6.94  6.94  6.94  6.94  6.94  ...
..   ...           ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
190  wsm         Samoa  6.98  6.98  6.98  6.98  6.98  6.98  6.98  6.98  ...
191  yem         Yemen  6.88  6.88  6.88  6.88  6.88  6.88  6.88  6.88  ...
192  zaf  South Africa  6.47  6.47  6.47  6.47  6.47  6.47  6.47  6.47  ...
193  zmb        Zambia  6.71  6.71  6.71  6.71  6.71  6.71  6.71  6.71  ...
194  zwe      Zimbabwe  6.75  6.75  6.75  6.75  6.75  6.75  6.75  6.75  ...

     2091  2092  2093  2094  2095  2096  2097  2098  2099  2100
0    2.16  2.14  2.13  2.12  2.11  2.10  2.09  2.08  2.07  2.06
1    2.24  2.23  2.22  2.21  2.20  2.18  2.17  2.16  2.15  2.14
2    1.48  1.48  1.49  1.49  1.49  1.49  1.49  1.49  1.50  1.49
3    1.40  1.40  1.40  1.40  1.40  1.40  1.40  1.41  1.41  1.41
4    1.44  1.44  1.45  1.45  1.45  1.45  1.45  1.46  1.46  1.46
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
190  2.14  2.13  2.12  2.11  2.11  2.10  2.09  2.07  2.06  2.06
191  1.98  1.98  1.97  1.96  1.95  1.94  1.94  1.93  1.92  1.91
192  1.75  1.75  1.75  1.75  1.75  1.74  1.75  1.74  1.74  1.74
193  2.16  2.16  2.15  2.14  2.13  2.12  2.11  2.10  2.09  2.08
194  2.04  2.03  2.02  2.02  2.01  2.00  2.00  1.99  1.98  1.98

[195 rows x 303 columns]
     geo          name    1800    1801    1802    1803    1804    1805  \
0    afg   Afghanistan  468.58  468.58  468.58  468.58  468.58  468.58
1    ago        Angola  485.68  485.68  485.68  485.68  485.68  485.68
2    alb       Albania     NaN     NaN     NaN     NaN     NaN     NaN
3    and       Andorra     NaN     NaN     NaN     NaN     NaN     NaN
4    are           UAE     NaN     NaN     NaN     NaN     NaN     NaN
..   ...           ...     ...     ...     ...     ...     ...     ...
187  wsm         Samoa     NaN     NaN     NaN     NaN     NaN     NaN
188  yem         Yemen  540.44  540.44  540.44  540.44  540.44  540.44
189  zaf  South Africa  398.45  398.45  398.45  398.45  398.45  398.45
190  zmb        Zambia  409.79  409.79  409.79  409.79  409.79  409.79
191  zwe      Zimbabwe  395.95  395.95  395.95  395.95  395.95  395.95

       1806    1807  ...     2091     2092     2093     2094     2095  \
0    469.98  469.98  ...  10.6577  10.4730  10.2963  10.1103   9.9446
1    485.68  485.68  ...  23.1019  22.8020  22.5032  22.1450  21.8240
2       NaN     NaN  ...   1.8035   1.7809   1.7565   1.7306   1.7090
3       NaN     NaN  ...   1.0973   1.0704   1.0470   1.0227   0.9977
4       NaN     NaN  ...   1.1265   1.1064   1.0879   1.0685   1.0476
..      ...     ...  ...      ...      ...      ...      ...      ...
187     NaN     NaN  ...   3.6062   3.5426   3.4929   3.4445   3.3960
188  540.44  540.44  ...   9.7795   9.5674   9.3502   9.1591   8.9669
189  398.45  398.45  ...   6.0115   5.8699   5.7218   5.5812   5.4415
190  409.79  409.79  ...  21.2009  20.9309  20.6236  20.3472  20.0524
191  395.95  395.95  ...  26.1359  25.8798  25.6420  25.3657  25.0676

        2096     2097     2098     2099     2100
0     9.7574   9.5760   9.4139   9.2223   9.0653
1    21.5334  21.2922  21.0403  20.8104  20.5798
2     1.6871   1.6672   1.6437   1.6208   1.6005
3     0.9737   0.9492   0.9264   0.9049   0.8830
4     1.0305   1.0133   0.9970   0.9795   0.9624
..       ...      ...      ...      ...      ...
187   3.3431   3.2983   3.2544   3.2113   3.1702
188   8.8321   8.6665   8.5141   8.3722   8.2291
189   5.3032   5.1587   5.0269   4.9014   4.7653
190  19.7874  19.5259  19.3015  19.1113  18.9015
191  24.8075  24.5745  24.3567  24.1657  23.9313

[192 rows x 303 columns]